@using SIP.Entities.Enums
@model SumanthInPaylocity.Models.DependentVM

@using (Html.BeginCollectionItem("Dependents"))
{
    <div class="row">
        <div id="dependentRow" class="dependentRow">
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.DropDownListFor(model => model.Type, new SelectList(Model.TypeList, "Value", "Text") , "Select Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type, null, new { @class = "text-danger" })               
                </div>
            </div> 
            <div class="form-group">
                <div class="col-lg-3">
                    <input type="button" class="btn btn-danger" id="deleteRow" name="deleteRow" value="Cancel" />

                </div>
            </div>
        </div>

    </div>
}